# Configuration file

general {
    # Syntax: 'modname:item:meta' e.g. 'calculator:EnrichedGold:0' | One per line | '0' meta is required
    S:algorithmSeparatorRecipes <
     >
    S:atomicCalculatorRecipes <
     >
    S:basicCalculatorRecipes <
     >
    S:flawlessCalculatorRecipes <
     >
    S:scientificRecipes <
     >
    S:stoneSeparatorRecipes <
     >
}


